.header {
    &__burger-btn {
        display: none;
        position: relative;
        width: 40px;
        height: 40px;
        background: $btnBgColor;
        padding: 10px;
        border: 0;

        &_active {
            .header__burger-line{
                &:nth-child(1) {
                    top: calc(50%);
                    transform: translate(-50%, -50%) rotate(-135deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    top: calc(50%);
                    transform: translate(-50%, -50%) rotate(135deg);
                }
            }
        }
    }

    &__burger-line {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 3px;
        width: 20px;
        border-radius: 10px;
        background: $btnColor;
        transition: .3s;
        &:nth-child(1) {
            top: calc(50% - 6px);
        }
        &:nth-child(3) {
            top: calc(50% + 6px);
        }
    }
}

@include media($tablet){
    .header {
        &__burger-btn {
            display: block;
        }
    }
}