.header {

    &__burger-menu {
        z-index: 1000;
    }

    &__burger-menu-content {
        padding: 100px 20px 20px;
        background: $bodyColor;
    }

    &__burger-menu-items {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: auto;
    }

    &__burger-menu-item {
        display: flex;
        justify-content: center;
        padding: 10px 0px;
        border-bottom: 1px solid $borderColor;
        list-style-type: none;

        &_text {
            text-align: center;
        }
    }

    &__burger-menu-btn {
        width: 100%;
    }

    &__burger-menu-link {
        color: $textColorDark;
    }

    &__burger-menu-text {
        color: $textColorDark;
        font-size: 1.5rem;
    }

    &__burger-menu-social-btns {
        
        justify-content: space-between;
    }

    .header__burger-menu-social-btn {
        flex: 0 0 45%;
    }
}