.centered-gallery {

    &__container {
        
    }

    &__title {
        margin: 0;
    }

    &__slider {}

    &__slider-wrapper {}

    &__slider-container {}

    &__slider-items {}

    &__slider-item {
        
    }

    &__slider-img-wrapper {

    }

    &__slider-img {
        min-width: 25px;
        min-height: 25px;
    }

    &__slider-navs {}

    &__slider-nav-btn {}
}