$laptop: 1440;
$tablet: 1200;
$mobile: 640;

//-----------------------------------------
$baseColor: #113D63;
$bodyColor: #FFFFFF;
$frameColor: #FFFFFFB8;
$cardColor: #F4F4FC;
$overlayColor: #000000AA;
//-----------------------------------------
$textColor: #282828;
$textColorLight: #6EC1E4;
$textColorDark: #113D63;
$textColorAccent: #767676;
//-----------------------------------------
$linkColor: #237FCF;
//-----------------------------------------
$btnColor: #F5F5F5;
$btnBgColor: #237FCF;
$btnHoverColor: #282828;
$btnHoverBgColor: #DCDCDC;
//-----------------------------------------
$btnDarkColor: #FFFFFF;
$btnDarkBgColor: #000000;
$btnHoverDarkColor: #000000;
$btnHoverDarkBgColor: #DCDCDC;
//-----------------------------------------
$borderColor: #113D63;
$borderColorLight: #FFFFFF;
//-----------------------------------------
$sliderBtnColor: #113D63;
$lightboxBtnColor: #FFFFFF;
//-----------------------------------------